@model LanguageTranslate.Models.Grammatic

@{
    ViewData["Title"] = "Просмотр";
}
<!--好-->
<div>
    <h3>Грамматика</h3>
    <hr />
    <div class="dl-horizontal">
        @if (Model.ResultGenerate != null && Model.ResultGenerate.ResultCode == 1)
        {
            <div class="alert alert-success">
                <span>DLL сгенерирована успешно</span>
            </div>
        }
        @if (Model.ResultGenerate != null && Model.ResultGenerate.ResultCode == 0)
        {
            <div class="alert alert-danger">
                <strong>Во время генерации возникли ошибки. Список ошибок:</strong>
                @foreach (var item in Model.ResultGenerate.ErrorsMessage)
                {
                    <br />
                    <span>@item</span>

                }
            </div>
        }
        <div>
            <label asp-for="CreateUserTitle"></label>
            <span>@Model.CreateUserTitle</span>
        </div>
        <div>
            <label asp-for="CreateDate"></label>
            <span>@Model.CreateDate</span>
        </div>
        <div>
            <label asp-for="Title"></label>
            <span>@Model.Title</span>
        </div>
        <div>
            <label asp-for="EditDate"></label>
            <span>@Model.EditDate</span>
        </div>

        <div>
            <label asp-for="Text"></label>
            <textarea id="Text" readonly asp-for="Text" name="Text" class="form-control resize" rows="20"></textarea>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.GrammaticId">Редактировать</a>
    @if (User.IsInRole("Administrator") && ViewBag.Validate != null && ViewBag.Validate == true)
    {
        @if (!Model.IsValidate)
        {<form asp-action="Validate" method="post">

        <button type="submit" asp-route-id="@Model.GrammaticId" asp-route-isvalid="1" class="btn btn-success">Верифицировать</button>
        <button type="submit" asp-route-id="@Model.GrammaticId" asp-route-isvalid="0" class="btn btn-danger">Отклонить измения</button>

    </form>
        }
        @if (Model.IsValidate && Model.IsEdit)
        {
            <a asp-action="GenerateFile" class="btn btn-success" asp-route-id="@Model.GrammaticId">Сгенерировать</a>
        }
    }
    <a class="btn btn-default" asp-action="Index">Назад в список</a>
</div>
