@model IEnumerable<Grammatic>
@{
    ViewData["Title"] = "Index";
}
<h3>Список грамматик</h3>

<p>
    <a class="btn btn-default" asp-action="Create">Добавить грамматику</a>
    <a class="btn btn-default" asp-action="CreateWithTransform">Добавить грамматику на основе существующей</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Дата добавления
            </th>
            <th>
                Дата последнего редактирования
            </th>
            <th>
                Название
            </th>
            <th>
                Создатель
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.CreateDate.ToString("dd.MM.yyyy HH:mm")
                </td>
                <td>
                    @item.EditDate.ToString("dd.MM.yyyy HH:mm")
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.CreateUserTitle
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.GrammaticId">Редактировать</a>
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.GrammaticId">Просмотр</a>
                    @if (User.IsInRole("Administrator") && (@item.IsEdit || !@item.IsValidate))
                    {
                        <a asp-action="Validate" class="btn btn-success" asp-route-id="@item.GrammaticId">Валидация</a>
                    }
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.GrammaticId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!--好-->